@model ShareItems_WebApp.Entities.UserCredential;

<body>
    <br />
    <br />
    <br />
    <div class="container">
        <h1>Your code found this existing Note</h1>
        <h3>To edit this note please unlock it first.</h3>
        <br />
        <br />
        <div class="lock-box">
            <p>This Note Crypt has been locked. Please enter the second code to fully decrypt it.</p>
            <br />
            <form method="post" asp-action="CheckSecondaryPassword">
            <input type="hidden" name="Code" value="@Model.code" />
                <input type="password" placeholder="Enter lock code" name="Pin" maxlength="4" required>
            <button class="unlock-btn" type="submit">Unlock</button>
            </form>
            <form method="post" asp-action="ExitToIndex">
            <button class="cancel-btn" asp-action="ExitToIndex">Cancel</button>
            </form>
        </div>
    </div>
</body>