@model ShareItems_WebApp.Entities.UserCredential;

<h3>Enter password</h3>
<form method="post" asp-action="CheckSecondaryPassword">
    <input type="hidden" name="Code" value="@Model.code" />
    <input type="password" name="Pin" maxlength="4" required />
    <button type="submit">Check</button>
</form>
<button asp-action="ExitToIndex">Cancel</button>