@model ShareItems_WebApp.Entities.UserCredential;
@{
    ViewData["Title"] = "Enter Code";
}

<br />
<br />
<br />
<div class="hero">
    <h2>The fastest and safest way to save notes anywhere</h2>
    <p>No accounts. No signups. No installs. Just choose one code.</p>
</div>
<br />
<br />
<div class="input-box">
    <p>Let's try. Enter a new or used code now to open, encrypt and save notes with.</p>
    <form method="post" asp-action="Index">
    <input type="text" placeholder="Enter code" name="Code" required>
    <button type="submit">Open</button>
    </form>
    <p>It’s that simple</p>
</div>
