@model ShareItems_WebApp.Entities.UserCredential


{
<div class="list-container">
    <ul class="list-group">
        @foreach (var activity in Model.dateTimes)
        {
            <li class="list-group-item">@activity.ToString()</li>
        }
        </ul>
    </div>

<form method="post" asp-action="AccessToItems">
    <input type="hidden" name="Code" value="@Model.code" />
    <button type="submit">Go Back</button>
</form>
