<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/style.css" rel="stylesheet" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"

</head>
<body>
    <div class="navbar">
        <h1>InstantNoteCrypt</h1>
        <div>
            <a href="#how-it-works">How it works</a>
            <a href="#">About Us</a>
        </div>
    </div>
    @RenderBody()
</body>
</html>
